.scroller-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 18px;
  margin-bottom: 2.5rem;
}

.scroller-track {
  display: flex;
  width: max-content;
  animation-name: scroll-left;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.scroller-track-reverse {
  animation-name: scroll-right;
}

.scroller-item {
  flex: none;
  padding: 0 18px;
}

.scroller-item img {
  max-height: 280px;
  min-width: 360px;
  width: auto;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgb(0 0 0 / 0.18);
  user-select: none;
  pointer-events: none;
  transition: transform .3s;
}
.scroller-item img:hover {
  transform: scale(1.07) rotate(-1deg);
  box-shadow: 0 8px 32px #0d6efd55;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .scroller-item img {
    max-height: 150px;
    min-width: 180px;
    border-radius: 11px;
  }
  .scroller-wrapper {
    border-radius: 11px;
  }
}
.gallery-modal img {
  user-select: none;
}
@media (max-width: 700px) {
  .gallery-modal img {
    max-height: 40vh !important;
  }
}
