body, * {
  
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --primary: #0D6B68;
  --secondary: #555555;
  --light: #E6F0EF;
  --dark: #03201F;
}
body {
  background-color: var(--light);
  color: var(--dark);
}

.btn-custom {
  background-color: var(--primary);
  color: white;
}

.text-secondary {
  color: var(--secondary);
}
@keyframes spinner-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
